body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/nature-3082832_960_720.jpg') no-repeat center/cover;
    filter: blur(4px);
    transform: scale(1.1);
}

.container {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
}

h2 {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 23px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: calc(100%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ccc;
    color: #555;
}

input[type="text"],
input[type="password"]:focus {
    outline: none;
    border: none;
}

button {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease; */
}

button:hover {
    background-color: #3da941;
}

.oauth-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oauth-buttons button {
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    /* transition: background-color 0.5s ease; */
}

.oauth-buttons button:hover {
    background-color: #3581fb;
}
